<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='http://libs.baidu.com/jquery/2.1.1/jquery.min.js'></script>
</head>

<body>
    <form id="uploadForm" enctype="multipart/form-data">
        <input id="file" type="file" name="file" />
        <button id="upload" type="button">upload</button>
    </form>
    <script>
        $('#upload').click(function() {
            $.ajax({
                url: '/api/upload',
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: new FormData($('#uploadForm')[0]),
                processData: false,
                contentType: false
            }).done(function(res) {}).fail(function(res) {});
        });
    </script>
</body>

</html>